<!DOCTYPE html>
<html class="no-js" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>SunShine-Farm Inc.</title>
</head>
<body>
<div style="width: 60%; alignment: center; background-color: #7aba7b">
    <h2 style="alignment: center">Registration</h2><br/>
    <span th:text="${successMsg}"></span>
    <span th:text="${rejectMsg}"></span>
    <span th:text="${nullvalue}"></span>
    <form th:object="${user}" th:action="@{/register}" th:method="POST" >
        <table>
            <tr>
                <td>
                    <label>User Name</label>
                </td>
                <td>
                    <input type="text" id="username" placeholder="Enter User name"
                           th:field="*{userName}" required />
                </td>
                <td>
                    <span th:class="err" th:if="${#fields.hasErrors('userName')}"
                          th:errors="*{userName}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Email</label>
                </td>
                <td>
                    <input type="text" id="email" placeholder="Enter Email"
                           class="form-control" th:field="*{email}" required />
                </td>
                <td>
                    <span th:class="err" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Mobile No.</label>
                </td>
                <td>
                    <input type="text" id="mobile"
                           placeholder="Enter Mobile Number"
                           th:field="*{mobile}" required />
                </td>
                <td>
                    <span th:class="err" th:if="${#fields.hasErrors('mobile')}" th:errors="*{mobile}" ></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Name</label>
                </td>
                <td>
                    <input type="text" id="name" placeholder="Enter name"
                           th:field="*{name}" required />
                </td>
                <td>
                    <span th:class="err" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Registration</button>
                </td>
            </tr>
        </table>
    </form><br/>
    <p>Already have account ? <a th:href="@{/login}"> Login</a></p>
</div>
</body>
</html>